.cardContainer{
    /* Contém todo o conteúdo do card*/
    display: flex;
    box-shadow: .2em .2em .8em black;
    min-height: 20em;
    width: 50em;
    margin-bottom: 3em; /*Distância entre os cards*/
    color: var(--corFonte);
}

.cardContainer:hover{
    border: 4px solid var(--bordaHover);
    box-shadow: none;
}

.cardImagem{
    /* Contém apenas a imagem*/
    background-position: center;
}

.cardDados{
    /* Contém todo o conteúdo do card (título, informações)*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 1.2em;
    text-align: center;
    margin: auto;
}

.cardTitulo{
    font-weight: bold;
    padding-bottom: 1em;
}

.cardNome{
    text-align: right;
    font-weight: bold;
}

.cardDuracao, .cardTrajeto{
    color: var(--cinza);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.cardDif{
    width: 100px;
    border-radius: 10px;
    background-color: rgba(92, 102, 112, 0.5);

    text-align: center;
    padding: 1px;
    margin-bottom: 10px;
}

.cardAval{
    /* Contém as estrelas e o link para avaliação*/
    display: flex;
}

.linkAval{
    text-align: right;
    color: var(--corFonte);
    text-align: right;
    margin-left: 50px;
}

.favButton{
    border: none;
    font-size: 24px;
    margin-left: 10px;
}

.estrelas{
    color: rgb(149, 4, 149);
    font-size: 24px;
}