.card-container{
    /* Contém todo o conteúdo do card*/
    display: flex;
    box-shadow: .2em .2em .8em black;
    min-height: 20em;
    width: 50em;
    margin-bottom: 3em; /*Distância entre os cards*/
    color: var(--corFonte);
}

.card-container:hover{
    border: 2px solid var(--bordaHover);
    box-shadow: none;
}

.card-imagem{
    /* Contém apenas a imagem*/
    background-position: center;
}

.card-container-dados{
    /* Contém todo o conteúdo do card (título, informações)*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 1.2em;
    text-align: center;
    margin: auto;
}

.card-titulo{
    font-weight: bold;
    padding-bottom: 1em;
}

.card-nome{
    text-align: right;
    font-weight: bold;
}

.card-duracao, .card-trajeto{
    color: var(--cinza);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}

.card-dif{
    width: 100px;
    border-radius: 10px;
    background-color: rgba(92, 102, 112, 0.5);

    text-align: center;
    padding: 1px;
    margin-bottom: 10px;
}

.card-aval{
    /* Contém as estrelas e o link para avaliação*/
    display: flex;
}

.estrelas{
    margin-right: 8px;
    text-align: left;
}

.link-aval{
    text-align: right;
    color: var(--corFonte);
    text-align: right;
    margin-left: 50px;
}