@media all{
    .header{
        width: 100vw;
        height: 5em;
        background-color: var(--marrom);
        font-size: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
    }

    .linkHeader{
        color: white;
        padding-left: 1em;
        opacity: 0.8;
    }

    .linkHome1{
        color: white;
        opacity: 0.8;
    }

    .linkHeader:hover, .linkHome1:hover{
        opacity: 1;
    }
}

@media (min-width: 992px){
    .header{
        justify-content: space-between;
        font-size: 1.1em;
        padding: 0 6em;
    }
    
    .linkHeader{
        padding-left: 3em;
    }
    
    .linkHeader:hover, .linkHome1:hover{
        font-size: 1.2em;
    }
}



