.header{
    width: 100vw;
    height: 5em;
    background-color: var(--marrom);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    padding: 0 6em;
    position: fixed;
}

a{  /* Configurando a tag <Link />*/
    color: white;    
    opacity: 0.8;
}

a:hover{
    opacity: 1;
    font-size: 1.2em;
}

nav a{
    padding-left: 3em;
}

