.header{
    width: 100vw;
    height: 5em;
    background-color: var(--marrom);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
    padding: 0 6em;
    position: fixed;
}

.linkHeader{
    color: white;
    padding-left: 3em;
    opacity: 0.8;
}

.linkHeader:hover, .linkHome1:hover{
    opacity: 1;
    font-size: 1.2em;
}

.linkHome1{
    color: white;
    opacity: 0.8;
}

