/* Comum às páginas */
.h1Principal{
    margin: 1em 0;
    color: #504908
}

/* Página Home*/
.imgHome{
    height: 500px;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/imagem-fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinhamento vertical*/
    align-items: center;
}

.pSize{
    max-width: 700px;
    margin: 2em 0;
    text-align: center;
}

.conteudoHome{
    margin: 4em;
}

.margin2em{
    margin-bottom: 2em;
}

.cHome1{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.cHome2{
    display: flex;
    justify-content: space-between;
}

.h1Size{
    max-width: 350px;
    margin-bottom: 2em;
}

.imgNatureza{
    height: 300px;
    width: 600px;
}


/* Página de Cadastro*/
.containerCadastro{
    padding: 5em 0 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}

.inputStyle{   /*Inputs menores*/
    margin: 0.2em 0 1em 0;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #504908;
}

.inputMaior{ /*Inputs maiores*/
    margin: 0.2em 0 1em 0;
    width: 580px;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid #504908;
}

.divCentral{ /*div com 6 inputs menores*/
    width: 580px;   /*2x 280px + 20px de gap*/
    display: grid;
    grid-template-columns: 280px 280px;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
}

.flexInput{ /*Label e input com display flex*/
    display: flex;
    flex-direction: column;
}

.msgErro{
    color:red;
    font-size: 12px;
    margin-bottom: 1em;   
}











