/*No index.css também posso declarar as variáveis*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

:root{
    --marrom: #504908;   
    --bordaHover: #9747FF;
    --cinza: rgb(92,102,112);
    --corFonte: rgb(13,26,38);
    overflow-x: hidden;
}

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Comfortaa", sans-serif;
}

.container{
    padding-top: 5em;
}

